<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>


  <link rel="stylesheet" type="text/css" href="/css/login.css">
<style>
 
a {
  text-decoration: none;
  color: white;
}

  
</style>

</head>
<body>


  <script src="/socket.io/socket.io.js"></script>

  <div class="container">
    <h1>Login</h1>
    <form id="login" action="/login" method="post">
      <input id="username"type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
    
    <p > login with guest account</p>
   
    
  <h1>Login with Google</h1>
  <a href="/auth/google"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>
  <p>
      Don't have an account? <a href="/register">Register</a>
    </p>
    <% if (message) {
      %>
      <p>
        <%= message %>
      </p>
      <%
    } %>
  </div>
  <p>
    Don't have an account? <a href="/register">Register</a>
  </p>
  <script>
    const socket = io();
/*
    formElement.addEventListener('submit', e=> {
      e.preventDefault();
      const username = document.getElementById('username').val
*/
  </script>

</body>
</html>