body {
  overflow: hidden;

  margin: 0;
  padding: 0;
  background:brown;
}

.container {
  max-width: 800px;
  margin: 0px;
  padding: 5px;
  font-family: Arial, sans-serif;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}



.messages {


  background-image: url("https://www.nepalyp.com/img/np/l/_1588331040_33115.jpg");
  background-size: cover;

  height: 500px;
  overflow-y: scroll;
  opacity: .8;

}

.message {


  word-wrap: break-word;
  margin-bottom: 10px;
  display: flex;
  min-width: 60px;
  align-content: center;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.sent {
  flex-direction: row;
}

.received {
  flex-direction: row-reverse;
}

.text-input {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 10px;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.message-text {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  border: none;
  margin: 2px;
  box-shadow: 0px 0px 10px 1px grey;



}

.message-text.me {
  color: white;
  background-color: white;
  align-self: flex-end;
}

input {
  flex-grow: 1;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

button {
  width: 30%;
  box-shadow: 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #27ae60;
}

button:active {
  background-color: #1e8449;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;

}

@media (max-width: 768px) {
  .container {
    overflow: hidden
    max-width: 500px;
    max-height: 800px;
    padding: 5px;
  }
  .messages {
    max-height: 250px;

  }

  input {

    width: 60%;
  }
  button {
    width: 40%;
  }
  .message {
    min-width: 100px;
  }
}

.name {
  color: black;
}